<div class="carousel">
    <img src="/images/shop/<%= products[i].category %>/<%= products[i].category %>.webp" alt="<%= products[i].category %>">
    <img src="/images/shop/<%= products[i].category %>/<%= products[i].category %>-details.webp" alt="<%= products[i].category %> details">
    <img src="/images/shop/<%= products[i].category %>/<%= products[i].category %>.webp" alt="<%= products[i].category %>">
</div>