<!DOCTYPE html>

<html lang="fr">
    <%- include('../../components/head.ejs'); %>
    
    <body class="containerList">
        <div class="container containerListGame">
            <%- include('../../components/header.ejs'); %>
            <main>  
                <div class="btns">
                    <a href="/admin" class="back"><span>Dashboard</span></a>
                    <a href="/games/create" class="create"><span>Ajouter un jeu</span></a>
                </div>

                <% if(errorGame && errorGame != null) { %>
                    <p><%= errorGame; %></p>
                <% } %>

                <% if(successDeleteGame && successDeleteGame != null) { %>
                    <p><%= successDeleteGame; %> </p>
                <% } %>

                <h1>Liste des Jeux</h1>

                <% if(games && games.length > 0) { %>
                    <div class="containerTableList">
                        <table>
                        
                            <% games.forEach(game => { %>
                                <tr>
                                    <td><%= game.name; %></td>
                                    <td class="update">
                                        <a href=<%= `/games/${game._id}/update`; %>>
                                            <img src="/images/crud/update.webp" alt="Modifier les données de <%= game.name %>">
                                        </a>
                                    </td>
                                    <td class="delete">
                                        <a href=<%= `/games/${game._id}/delete`; %>>
                                            <img src="/images/crud/delete.webp" alt="Supprimer les données de <%= game.name %>">
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <% if(page && maxPage > 1) { %>
                        <div class="switchPage">
                            <a href="/games?page=1" aria-label="première page">
                                <i class="fa-solid fa-chevron-left"></i>
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <a href=<%= `/games?page=${previousPage}`%> aria-label="page précédente">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <span><%= page %></span>
                            <a href=<%= `/games?page=${nextPage}`%> aria-label="page suivante">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                            <a href=<%= `/games?page=${maxPage}`%> aria-label="dernière page">
                                <i class="fa-solid fa-chevron-right"></i>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>Aucun Jeu recensé pour le moment !</p>
                <% } %>

            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.min.js"></script>

    </body>
</html>