<!DOCTYPE html>

<html lang="fr">
    <%- include('./components/head.ejs'); %>

    <body>
        <div class="container .containerHome">
            <%- include('./components/header.ejs'); %>
            <main>
                <h1 class="banner">
                    <img src="images/zevent/zevent-banner.webp" alt="Zevent 2022, 8 septembre showcase dès 19h30, puis à partir vendredi 9 septembre 18h jusqu'au 11 septembre">
                </h1>
                
                <div class="introduction">
                    <p><strong>Z Event</strong> est un projet caritatif créé par <strong>Adrien Nougaret</strong> et <strong>Alexandre Dachary</strong>.</p>
                    <p>Divisé en 2 parties, l'événement se compose d'un showcase qui fait office d'amorce et est suivi par un marathon de streaming jeux vidéo lors duquel de nombreux animateurs spécialisés se rassemblent tout au long du weekend.</p>
                    <p>Pendant <strong>plus de 50h</strong>, les participants diffusent du contenu en direct tous ensemble et encouragent les spectateurs à se mobiliser pour soutenir une <strong>association caritative</strong>.</p>
                </div>

                <section class="historics">

                    <h2>Historique des éditions</h2>
                
                    <div class="cards">
                
                        <% if(historics.length > 0) { %>
                            <% for(let i = 0 ; i < historics.length ; i++) { %>
                                <article>
                                    <h3><%= historics[i].date %></h3>
                                    <strong class="amount"><%= parseInt(historics[i].amount).toLocaleString("fr-FR") %> €</strong>
                                    <strong><%= historics[i].associations.split(',').join(' - ') %></strong>
                                 
                                </article>
                            <% } %>
                        <% } else { %>
                            <p>Aucun historique recensé pour le moment.</p>
                        <% } %>
                    
                    </div>
                
                </section>
                 
                <section class="streamers">

                    <h2>Les streamers</h2>
                    
                    <div class="cards">
                        <% if(streamers.length > 0) { %>
                            <% for(let i = 0 ; i < streamers.length ; i++) { %>
                                <article>
                                    <a href="<%= streamers[i].twitch %>">
                                        <div class="containerImg">
                                            <img src="images/streamers/<%= streamers[i].name.toLowerCase().split(' ').join('-') %>.webp" alt="Lien vers le profil de <%= streamers[i].name %>" >
                                        </div>
                                        <h3><%= streamers[i].name %></h3>
                                    </a>
                                </article>
                            <% }; %>
                        <% } else { %>
                            <p>Aucun streamer recensé pour le moment.</p>
                        <% } %>
                    </div>
                    
                </section>
            </main>

        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="scripts/header.js"></script>

    </body>
</html>