<% if(resultVideos) { 
    const videos = resultVideos.items;
%>
    <% for(let i = 0 ; i < videos.length ; i++) { 
        const video = videos[i];
        const publishTime = new Date(video.snippet.publishTime);
        const date = publishTime.toLocaleDateString();
        const time = publishTime.toLocaleTimeString();
    %>
        <article>
            <video controls poster="<%= video.snippet.thumbnails.medium %>">
                <source src="https://www.youtube.com/watch?v=<%= video.id.videoId %>">
            </video>
            <div class="description">
                <div class="viewAndDate">
                    <span><%= %> Vues</span>
                    <span><%= date %> à <%= time %></span>
                </div>
                <div class="avatarAndTitle">
                    <a href="https://www.youtube.com/"><img src="" alt="avatar youtube de <%= video.snippet.channelTitle %>"></a>
                    <h2><%= video.snippet.title %></h2>
                </div>
                <div class="nameStreamersAndActivity">
                    <strong><%= video.snippet.channelTitle %></strong> - <%= "Activité" %>
                </div>
            </div>
        </article>
    <% } %>
<% } else { %>
    <p>Aucun clips trouvé.</p>
<% } %>





