<!DOCTYPE html>

<html lang="fr">
    <%- include('../../components/head.ejs'); %>
    
    <body class="containerList">
        <div class="container containerListStreamer">
            <%- include('../../components/header.ejs'); %>
            <main>  
                
                <div class="btns">
                    <a href="/admin" class="back"><span>Dashboard</span></a>
                    <a href="/streamers/create" class="create"><span>Ajouter un streamer</span></a>
                </div>
                
                <% if(errorStreamer && errorStreamer != null) { %>
                    <p><%= errorStreamer; %></p>
                <% } %>

                <% if(successDeleteStreamer && successDeleteStreamer != null) { %>
                    <p><%= successDeleteStreamer; %> </p>
                <% } %>

                <h1>Liste des streamers</h1>
                
                <% if(streamers && streamers.length > 0) { %>
                    <div class="containerTableList">
                        <table>
                            <% streamers.forEach(streamer => { %>
                                <tr>
                                    <td><img src="/images/streamers/<%= streamer.name.toLowerCase().split(' ').join('-') %>.webp" alt="avatar de <%= streamer.name; %>"></td>
                                    <td><%= streamer.name; %></td>
                                    <td class="update">
                                        <a href=<%= `/streamers/${streamer._id}/update`; %>>
                                            <img src="/images/crud/update.webp" alt="Modifier les données de <%= streamer.name %>">
                                        </a>
                                    </td>
                                    <td class="delete">
                                        <a href=<%= `/streamers/${streamer._id}/delete`; %>>
                                            <img src="/images/crud/delete.webp" alt="Supprimer les données de <%= streamer.name %>">
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <% if(page && maxPage > 1) { %>
                        <div class="switchPage">
                            <a href="/streamers?page=1" aria-label="première page">
                                <i class="fa-solid fa-chevron-left"></i>
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <a href=<%= `/streamers?page=${previousPage}`%> aria-label="page précédente">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <span><%= page %></span>
                            <a href=<%= `/streamers?page=${nextPage}`%> aria-label="page suivante">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                            <a href=<%= `/streamers?page=${maxPage}`%> aria-label="dernière page">
                                <i class="fa-solid fa-chevron-right"></i>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>Aucun streamer recensé pour le moment !</p>
                <% } %>

            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.min.js"></script>

    </body>
</html>