<!DOCTYPE html>

<html lang="fr">
    <%- include('../../components/head.ejs'); %>
    
    <body class="containerList">
        <div class="container containerListUser">
            <%- include('../../components/header.ejs'); %>
            <main>  

                <div class="btns">
                    <a href="/admin" class="back"><span>Dashboard</span></a>
                    <a href="/users/create" class="create"><span>Ajouter un utilisateur</span></a>
                </div>

                <% if(errorUser && errorUser != null) { %>
                    <p class="error"><%= errorUser; %></p>
                <% } %>

                <% if(successDeleteUser && successDeleteUser != null) { %>
                    <p class="success"><%= successDeleteUser; %> </p>
                <% } %>

                <h1>Liste des utilisateurs</h1>

                <% if(users && users.length > 0) { %>
                    <div class="containerTableList">
                        <table>
                        
                            <% users.forEach(user => { %>
                                <tr>
                                    <td><%= user.lastname + ' ' + user.firstname; %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.birthdate.toLocaleDateString() %></td>
                                    <td class="update">
                                        <a href=<%= `/users/${user._id}/update`; %>>
                                            <img src="/images/crud/update.webp" alt="Modifier les données de <%= user.lastname + ' ' + user.firstname %>">
                                        </a>
                                    </td>
                        
                                    <% if(userConnected && (userConnected.id.toString() === user._id.toString() || userConnected.access)) { %>
                                        <td class="password">
                                            <a href=<%= `/users/${user._id}/password/update`; %>>
                                                <img src="/images/crud/password.webp" alt="Modifier le mot de passe de <%= user.lastname + ' ' + user.firstname %>">
                                            </a>
                                        </td>
                                    <% } %>
                                    <td class="delete">
                                        <a href=<%= `/users/${user._id}/delete`; %>>
                                            <img src="/images/crud/delete.webp" alt="Supprimer les données de <%= user.lastname + ' ' + user.firstname %>">
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <% if(page && maxPage > 1) { %>
                        <div class="switchPage">
                            <a href="/users?page=1" aria-label="première page">
                                <i class="fa-solid fa-chevron-left"></i>
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <a href=<%= `/users?page=${previousPage}`%> aria-label="page précédente">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <span><%= page %></span>
                            <a href=<%= `/users?page=${nextPage}`%> aria-label="page suivante">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                            <a href=<%= `/users?page=${maxPage}`%> aria-label="dernière page">
                                <i class="fa-solid fa-chevron-right"></i>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>Aucun utilisateur recensé pour le moment !</p>
                <% } %>

            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.min.js"></script>

    </body>
</html>